* text=auto
*.ts text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.zip binary
*.fig binary
*.otf binary
*.woff2 binary
